@model AdminHeaderLinksModel
@using Nop.Web.Models.Common;
@if (Model.IsCustomerImpersonated || Model.DisplayAdminLink)
{
    <div class="admin-links">
        @if (Model.IsCustomerImpersonated)
        {
            <div>
                <span>@string.Format(T("Account.ImpersonatedAs").Text, Model.ImpersonatedCustomerName)</span>
                <a href="@Url.RouteUrl("Logout")" title="@T("Account.ImpersonatedAs.Finish.Hint")">
                @T("Account.ImpersonatedAs.Finish")</a>
            </div>
        }

        @if (Model.DisplayAdminLink)
        {
            <a href="@Url.Content("~/admin")" >@T("Account.Administration")</a>
        }

        @if (!String.IsNullOrEmpty(Model.EditPageUrl))
        {
            <a href="@Model.EditPageUrl" >@T("Common.ManagePage")</a>
        }
    </div>
}