@** Copyright 2015 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
    * http://www.nop-templates.com/t/licensinginfo
*@

@using Nop.Web.Framework.UI
@using System.Text
@using SevenSpikes.Nop.Plugins.AjaxFilters.Common
@using SevenSpikes.Nop.Plugins.AjaxFilters.Domain
@using SevenSpikes.Nop.Plugins.AjaxFilters.Models.SpecificationFilter

@model SpecificationFilterModel7Spikes

@{
    Html.AddScriptParts("~/Plugins/SevenSpikes.Nop.Plugins.AjaxFilters/Scripts/SpecificationFilter.min.js");

    int optionsGroupIndex = 0;

    string toggleStateClass = "sidebar-toggle";
    string toggleStateStyles = "";
    if (Model.NopAjaxFiltersSettings.CloseSpecificationsFilterBox == true)
    {
        toggleStateClass = "sidebar-toggle closed";
        toggleStateStyles = "display: none;";
    }
}

@foreach (SpecificationFilterGroup specificationFilterGroup in Model.SpecificationFilterGroups)
{
    Func<int, HelperResult> specificationOptionsHtml =
        @<text>
            @foreach (SpecificationFilterItem specificationFilterItem in specificationFilterGroup.FilterItems)
            {
                string filterItemCssClass = "filterItemUnselected";

                if (specificationFilterItem.FilterItemState == FilterItemState.Checked)
                {
                    filterItemCssClass = "filterItemSelected";
                }

                <li>
                    <a class="@filterItemCssClass" data-option-id="@specificationFilterItem.Id">@specificationFilterItem.Name</a>
                </li>
            }
        </text>;

   
   



          <div class="sidebar-group block filter-block manufacturerFilterPanel7Spikes">
            <div class="sidebar-header @toggleStateClass"><i>@specificationFilterGroup.Name</i></div>
            @if (Model.NopAjaxFiltersSettings.FiltersUIMode == FiltersUIMode.UseCheckboxes)
            {
                <div class="sidebar-content filtersGroupPanel" style="@toggleStateStyles">
                    <div class="sidebar-menu sidebar-menu-filter sidebar-scroll">
                        <ul class="checkbox-list">
                            @specificationOptionsHtml(0)
                        </ul>
                    </div>
                </div>

                @*<div class="sidebar-content filtersGroupPanel" style="@toggleStateStyles" data-optionsgroupid="@specificationFilterGroup.Id">
                    <div class="sidebar-menu sidebar-menu-filter sidebar-scroll">
                        <ul class="checkbox-list">
                            @specificationOptionsHtml(0)
                        </ul>
                    </div>
                </div>*@
            }

            else if (Model.NopAjaxFiltersSettings.FiltersUIMode == FiltersUIMode.UseDropdowns)
            {
                var specificationFilterDropDownId = String.Concat("specificationFiltersDropDown", specificationFilterGroup.Id);

                <div class="filtersGroupPanel filtersDropDownPanel" data-optionsgroupid="@specificationFilterGroup.Id" style="@toggleStateStyles">
                    <div id="@specificationFilterDropDownId" class="filtersDropDown">
                        <div class="filters-select-wrap">
                            <p class="filters-select-text"></p>
                        </div>
                        <ul class="filters-select-dropdown">
                            <li class="selected">
                                <a class="allFilterDropDownOptions">@T("SevenSpikes.NopAjaxFilters.Client.Common.All")</a>
                            </li>
                            @specificationOptionsHtml(0)
                        </ul>
                    </div>
                </div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#@specificationFilterDropDownId").jDropDown();
                    });
                </script>
            }
        </div>

    optionsGroupIndex++;
}
