@{
    Layout = "~/Themes/Brooklyn/Views/Shared/_ColumnsOne.cshtml";
}
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> 
 
@*<div class="page home-page">
        <div class="page-body">
            @Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })
            @Html.Widget("home_page_before_categories")
            @Html.Action("HomepageCategories", "Catalog")
            @Html.Widget("home_page_before_products")
            @Html.Action("HomepageProducts", "Product")
            @Html.Widget("home_page_before_best_sellers")
            @Html.Action("HomepageBestSellers", "Product")
            @Html.Widget("home_page_before_news")
            @Html.Action("HomePageNews", "News")
            @Html.Widget("home_page_before_poll")
            @Html.Action("HomePagePolls", "Poll")
            @Html.Widget("home_page_bottom")
        </div>
    </div>*@

@Html.Widget("home_page_main_slider_before")

<div class="main-slider-wrap">
    @Html.Widget("home_page_main_slider")
    
    <div class="main-banner">
         @Html.Widget("home_page_main_banner") 
    </div>
	
</div>

@Html.Widget("home_page_banner_after")
 
@Html.Widget("home_page_new_collection")

@Html.Widget("home_page_before_poll")

@Html.Action("HomePagePolls", "Poll")


